<component name="ArtifactManager">
  <artifact type="war" name="SpringIoc:war">
    <output-path>$PROJECT_DIR$/SpringIoc/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringIoc</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringIoc-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringIoc:war exploded" />
    </root>
  </artifact>
</component>